@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    background-color: black;
    height: 2%;
    color: white;
    align-items: center;
}

.brand img{
    width: 15%;

}
.brand{
    display: flex;
    align-items: center;
}